out
dist
node_modules
.vscode-test/
*.vsix
logs
**/**/.DS_Store

# Test resources 
src/test/resources/coqProj/.vscode
**/*.glob
**/*.vo
**/*.vok
**/*.vos
**/*.aux
src/test/resources/coqProj/.Makefile.coq.d
src/test/resources/coqProj/Makefile.coq
src/test/resources/coqProj/Makefile.coq.conf
src/test/resources/**/.vscode

## Benchmarking files

# Ignore generated build files inside dataset
dataset/**/result
dataset/**/.vscode/

# Ignore logs & cache
benchmarkLogs/
.cache/

# Ignore private files (outdated)
src/test/benchmark/benchmarkPrivate/
