out
dist
node_modules
.vscode-test/
*.vsix
logs
**/**/.DS_Store

# Test resources 
src/test/resources/coqProj/.vscode
**/*.glob
**/*.vo
**/*.vok
**/*.vos
**/*.aux
src/test/resources/coqProj/.Makefile.coq.d
src/test/resources/coqProj/Makefile.coq
src/test/resources/coqProj/Makefile.coq.conf
src/test/resources/**/.vscode

# Ignore the generated build files in datatests inside benchmarks
dataset/**/result
dataset/**/.vscode/

# Ignore private files used while benchmarking
src/test/benchmark/benchmarkPrivate/

# Ignore benchmark logs
benchmarkLogs/